# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Virtual Environments
venv/
.venv/
env/
ENV/

# VS Code & IDE settings
.vscode/*
!.vscode/settings.json
.idea/
*.swp
*.swo

# Temporary scratch media output
scratch/


# OS metadata
.DS_Store
Thumbs.db
